<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %} {% bootstrap_javascript %} {% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/index.css' %}" type="text/css" />
    </head>
    <body>
        name: {{ littleDude.name }}
        <div class="row">
            <input type="text" name="prompt" placeholder="Talk to {{littleDude.name}}!" id="prompt">
            <button class="btn btn-primary" id="submitQuery">Submit</button>
            <h1 id="response"></h1>
        </div>

        <script>
            let button = document.getElementById("submitQuery");
            button.addEventListener("click", function () {
                let prompt = document.getElementById("prompt").value;
                const response = fetch("submit-query", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ prompt: prompt,})
                })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("response").innerText = data || "No response";
                        })
                .catch(error => console.error("Error:", error));
            })
        </script>
    </body>
</html>