<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %} {% bootstrap_javascript %} {% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/index.css' %}" type="text/css" />
    </head>
    <style>
        #renderArea {
            display: flex;
            width: 100%;
            height: 60vh;
            justify-content: center;
            left: 50%;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.min.js" integrity="sha512-3CP+e7z5ieYYTIyvRvV3eGVYR67yXg5V2mWfg8pEJJd2mlh8tG/cnDv5scTmRztEYHTksBlpPOmxFOiMtHfZdQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% load static %}
    <script src="{% static 'js/habitat.js' %}"></script>
    <input type="hidden" id="littleDudeType" value="{{ littleDude.type }}" />
<!--    {% if is_biped %}-->
<!--    <script type="text/javascript">-->
<!--        var creatureType = "Biped"-->
<!--    </script>-->
<!--    {% elif is_quadraped %}-->
<!--    <script type="text/javascript">-->
<!--        var creatureType = "Quadraped"-->
<!--    </script>-->
<!--    {% elif is_ooze %}-->
<!--    <script type="text/javascript">-->
<!--        var creatureType = "Ooze"-->
<!--    </script>-->
<!--    {% endif %}-->
    <body onload="initPhysics()">
        <h1 style="width: fit-content; margin: auto;">{{ littleDude.name }}'s Habitat</h1>
        <h2 style="width: fit-content; margin: auto;">Level {{littleDude.level}}</h2>
        
        <h1 id="response"></h1>
        <div class="row" style="position: absolute; bottom: 10px; width: 50%; margin-left: 25%;">
            <input type="text" name="prompt" placeholder="Talk to {{littleDude.name}}!" id="prompt" style="width: 50%;">
            <button class="btn btn-success" id="submitQuery" style="width: fit-content; margin-left: 10px;">Chat</button>
            <button class="btn btn-warning" style="width: fit-content; margin-left: 10px;" data-toggle="modal" data-target="#walkModal">Walk</button>
            <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="width: fit-content; margin-left: 10px;" id="retireButton">Retire</button>
        </div>
          <div id="renderArea"></div>
          <!-- Retire Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="display: flex; justify-content: space-between;">
                  <h5 class="modal-title" id="exampleModalLabel1" style="color: black;">Retire</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="color: black;">
                  Are you sure you want to retire {{littleDude.name}}?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Back</button>
                  <a type="button" class="btn btn-danger" href="{% url 'retire' %}">Retire</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Walk Modal -->
          <div class="modal fade" id="walkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="display: flex; justify-content: space-between;">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Walk</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="color: black;">
                  Take {{littleDude.name}} for a walk?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Back</button>
                  <a type="button" class="btn btn-primary" href="{% url 'walk' %}">Walk</a>
                </div>
              </div>
            </div>
          </div>    
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            let button = document.getElementById("submitQuery");
            button.addEventListener("click", function () {
                let prompt = document.getElementById("prompt").value;
                if(prompt === "") return;
                document.getElementById("prompt").value = "";
                const response = fetch("submit-query", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ prompt: prompt,})
                })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("response").innerText = data || "No response";
                        })
                .catch(error => console.error("Error:", error));
            });
        </script>
    </body>
</html>