<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %} {% bootstrap_javascript %} {% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/index.css' %}" type="text/css" />
        <title>LittleDude</title>
    </head>
    <body>
       <div class="row">
            <div class="col-md-6 justify-content-center" style="margin: auto;">
                <h1 style="width: fit-content; margin: auto;">LittleDude</h1>
                <h2 style="width: fit-content; margin: auto;">Create Your New Best Friend!</h2>
            </div>
        </div>
        <div class="row">
            <div class="button-group justify-content-center" style="display: flex; flex-direction: column; margin: auto; width: fit-content;">
                <a href="{% url 'account_signup' %}" class="btn btn-success button">Sign Up</a>
                <a href="{% url 'account_login' %}" class="btn btn-success button">Log In</a>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 40px;">
            <div style="width: fit-content; margin: auto;">
                <img src="{% static 'images/waving_biped.png' %}" class="waving-image">
            </div>
            
        </div>
        
    </body>
</html>