<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %} {% bootstrap_javascript %} {% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/index.css' %}" type="text/css" />
    </head>
    <body>
        <div class="row">
            <h1 style="width: fit-content; margin: auto; margin-bottom: 30px;">Send {{littleDude.name}} on a walk?</h1>
            <h2 style="text-align: center; margin: auto;">Sending your Little Dude on a walk lets them gain experience and level up. </h2>
            <h2 style="text-align: center; margin-top: 20px;">While {{littleDude.name}} is away you will be unable to talk with him.</h2>
            <h3 style="text-align: center;">This action requires the LittleDude pocket device to be plugged in to this computer.</h3>
        </div>
        <div class="row">
            <a href="{% url 'sendData' %}" class="btn btn-success" style="width: fit-content; margin: auto; margin-top: 20px;" id="walkButton">Send on Walk</a>
        </div>
    </body>
</html>