<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LittleDude</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.min.js" integrity="sha512-3CP+e7z5ieYYTIyvRvV3eGVYR67yXg5V2mWfg8pEJJd2mlh8tG/cnDv5scTmRztEYHTksBlpPOmxFOiMtHfZdQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% load static %}
<script src="{% static 'js/habitat.js' %}"></script>
<canvas id="habitat" width="1280" height="720"></canvas>
{% load static %}
<img src="{% static 'images/tree.jpg' %}" alt="help">
</body>
</html>